.user,
.opponent,
.draw {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  width: 30vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.user {
  background-color: #9921e8;
  background-image: linear-gradient(45deg, #5f72be, #9921e8);
}

.opponent {
  background-color: #fc575e;
  background-image: linear-gradient(45deg, #fc575e, #f7b42c);
}

.draw {
  background-color: #485461;
  background-image: linear-gradient(45deg, #485461 0%, #28313b 74%);
}

.gamesWonName {
  font-weight: normal;
  font-size: 4vh;
}
.gamesWonNumber {
  font-weight: bold;
  font-size: 4vh;
}
