.userWin,
.opponentWin,
.draw {
  border-radius: 30px;
  width: 25vw;
  height: 10vh;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
}

.clicked {
  width: 26vw !important;
  height: 11vh !important;
}

.bottomText {
  width: 22vw;
  display: flex;
  justify-content: space-around;
}

.bottomText > h3 {
  font-weight: normal;
  font-size: 2.5vh;
}
.userWin {
  background-color: #9921e8;
  background-image: linear-gradient(45deg, #5f72be, #9921e8);
  cursor: pointer;
}
.userWin:hover {
  background-image: linear-gradient(-45deg, #5f72be, #9921e8);
}

.opponentWin {
  background-color: #fc575e;
  background-image: linear-gradient(45deg, #fc575e, #f7b42c);
  cursor: pointer;
}
.opponentWin:hover {
  background-image: linear-gradient(-45deg, #fc575e, #f7b42c);
}

.draw {
  background-color: #485461;
  background-image: linear-gradient(45deg, #485461 0%, #28313b 74%);
  cursor: pointer;
}

.draw:hover {
  background-color: #485461;
  background-image: linear-gradient(-45deg, #485461 0%, #28313b 74%);
}
