.parentComp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.chooseGameText {
  color: var(--gray);
  font-size: 4vh;
  padding-bottom: 10px;
}

.game {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  width: 30vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gameOption {
  border-radius: 30px;
  width: 25vw;
  height: 10vh;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
  background-color: #9921e8;
  background-image: linear-gradient(45deg, #5f72be, #9921e8);
  cursor: pointer;
}

.gameOption:hover {
  width: 26vw !important;
  height: 11vh !important;
}
.topSection {
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.gradientButton {
  margin-top: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100px;
  height: 7vh;
  width: 20vw;
  background-image: linear-gradient(45deg, #26e1c8, #0e52b7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gradientButton:hover {
  background-image: linear-gradient(-45deg, #26e1c8, #0e52b7);
}

.gradientButton > h1 {
  color: white;
  font-size: 3.5vh;
}

.hidden {
  display: none !important;
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 3.5vh;
  font-weight: bold;
  text-align: center;
}

input::placeholder {
  color: rgb(226, 226, 226);
  font-weight: normal;
}

.backButton {
  width: 25vw;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 5px;
}

/*Remove the scroll bar for Chrome, Safari and Opera */
.topSection::-webkit-scrollbar {
  display: none;
}

/*Removes the scroll bar for IE, Edge and Firefox*/
.topSection {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
